@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f5f5f5; /* Light gray background */
  --text-color: #000000; /* Black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a; /* Dark gray/black background */
    --text-color: #ffffff; /* White text */
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
